* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav {
  margin-right: 20px;
}

.nav-link {
  color: #777;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 16px;
}

.frete {
  padding: 10px 0;
  text-align: center;
  background-color: #c2185b;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  position: sticky;
  top: 0;
}

.frete span {
  animation: animation 1s infinite;
}

@keyframes animation {
  100%,
  0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(127, 255, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  41% {
    color: rgb(0, 255, 127);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(0, 127, 255);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
  }
}

.frete span:hover {
  font-size: 50px;
  color: aqua;
  transition: all 5s;
}

.banner {
  background-image: url("../img/banner.png");
  height: 235px;
}

.join-us {
  padding: 0 20px;
  margin-bottom: 30px;
}

.contact-heading {
  font-size: 40px;
  font-weight: 600;
  color: #575757;
}

.contato {
  display: flex;
}

form,
article {
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  color: #9b9b9b;
}

input,
select,
textarea {
  margin-bottom: 15px;
  padding: 5px 10px;
  border: solid 1px #9b9b9b;
}

textarea {
  resize: none;
}

label {
  font-size: 18px;
  margin-bottom: 5px;
}

.options {
  margin-bottom: 5px;
  display: flex;
}

.options label {
  font-size: 14px;
}

.options__input-box {
  flex: 1;
}

.curriculo {
  margin-bottom: 10px;
}

.curriculo input {
  display: none;
}

.curriculo label:nth-child(2) {
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
  padding: 3px 40px;
  background-color: #c4c4c4;
}

button[type="submit"] {
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 800;
  background-color: #c2185b;
  padding: 8px 0;
}

.footer {
  background-color: #c2185b;
  color: #fff;
  padding: 10px 20px 30px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer .container div:first-of-type {
  width: 30%;
}

.categorias,
.institucional {
  display: flex;
  flex-direction: column;
}
